# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/log
/src/miklas-core/*.project
/src/miklas-core/gradlew
/src/miklas-core/gradlew.bat
/src/miklas-core/.settings
/src/miklas-launcher/gradlew.bat
/src/miklas-launcher/.settings
/src/miklas-launcher/gradle
/src/miklas-launcher/.classpath
/src/miklas-launcher/.project
/src/miklas-launcher/gradlew
/src/miklas-core/*.classpath
/src/miklas-core/gradle
/src/miklas-events/.settings
/src/miklas-events/gradle
/src/miklas-events/gradlew.bat
/src/miklas-events/.classpath
/src/miklas-events/.project
/src/miklas-events/gradlew
/src/miklas-externalminds/gradlew.bat
/src/miklas-externalminds/.settings
/src/miklas-externalminds/gradle
/src/miklas-externalminds/.classpath
/src/miklas-externalminds/.project
/src/miklas-externalminds/gradlew
